#Alias to images
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^images/(.*) /wp-content/themes/alexmoloni/assets/images/$1 [L]
</IfModule>

#Alias to documents (ex PDFs)
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^docs/(.*) /wp-content/themes/alexmoloni/assets/docs/$1 [L]
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^fonts/(.*) /wp-content/themes/alexmoloni/assets/fonts/$1 [L]
</IfModule>

#Alias to videos
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^videos/(.*) /wp-content/themes/alexmoloni/assets/videos/$1 [L]
</IfModule>

SetEnvIf Referer (owlsome\.bluesbrothers\.co|owlsome\.com) localreferer

<FilesMatch \.(eot|woff|woff2|ttf)$>
Order deny,allow
Deny from all
Allow from env=localreferer

FileETag None
<ifModule mod_headers.c>
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>
</FilesMatch>

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress