body.single-project {

    .section-3 {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 120px;

        .gallery {
            margin-bottom: 60px;

            figure {
                margin-bottom: 50px;
                text-align: center;
            }
        }

        .back-to-all-link {
            .text {
                @include maxw(350px) {
                    font-size: 24px;
                }
            }

        }
    }
}