.main-navigation {
    ul.nav-menu {
        display: flex;

        li.nav-item {
            margin-right: 70px;

            &:last-child {
                margin-right: 0;
            }

            .text {
                white-space: nowrap;
            }
        }
    }
}