

header.main-header {

    .hamburger {
        display: none;
        @include basicTransition();


        @include maxw($mobileBreakpoint) {
            display: block;
        }
    }

    &.hamburger-location-right {
        .header-inner-wrap {

            @include maxw($mobileBreakpoint) {

                //change order og items when on mobile
                > .logo {
                    order: 1;
                }

                > .start-your-project {
                    order: 2;
                }

                > .hamburger {
                    order: 3;
                }

                > .language-switcher {
                    order: 5;
                }

            }
        }
    }
}



