header.main-header {
    $menu_item_underline_color: $color2;
    $menu_item_underline_height: 5px;


    .main-navigation {
        .menu-item {
            position: relative;
            transition: all 0.2s;
            margin-right: 11px;
            text-align: left;


            &:after {
                opacity: 0;
                @include underline-on-hover($menu_item_underline_color, $menu_item_underline_height);

            }

            &:hover a {
                text-decoration: none;
            }

            &:hover:after {
                opacity: 1;
            }

            &:last-of-type {
                margin-right: 0;


            }

            &.current-menu-item {

                &:after {
                    @include minw($mobileBreakpoint) {
                        @include underline-on-hover($menu_item_underline_color, $menu_item_underline_height);
                        opacity: 1;
                    }
                }

                a {
                    font-weight: bold;
                }

            }

            a {
                font-size: 13px;
                padding: 9px 17px;
                word-wrap: break-word;
                display: block;
                position: relative;
                transition: all 0.2s;
                text-transform: none;
                color: $color1;
                font-weight: 500;
            }

        }

    }

    &.mobile-menu-show-curent-page {
        .main-navigation {
            .menu-item {
                &.current-menu-item {

                    a {
                        font-weight: bold;
                    }

                    //horizontal line indicating active item
                    a:before {
                        height: 100%;
                        width: 6px;
                        content: '';
                        display: block;
                        background-color: $menu_item_underline_color;
                        left: -43px;
                        top: 0;
                        position: absolute;


                        @include minw($mobileBreakpoint) {
                            display: none;
                        }

                    }

                }
            }
        }
    }

}