body.single-post {
    main.main {
        padding-top: 0;
    }

    .header-simple-1 {
        padding-top: 70px;
        margin-bottom: 70px;

        .logo-text {
            font-size: 60px;
        }
    }
}