$cta-btn-fsz-desktop: 15px;
$cta-btn-fsz-mobile: 14px;
$cta-btn-width: auto;
$cta-btn-bgc: $color2;
$cta-btn-bgc-hover: $color3;
$cta-btn-c: #fff;
$cta-btn-c-hover: #fff;
$cta-btn-bd: $color1;
$cta-btn-rd: 0;
$cta-btn-h: 55px;
$cta-btn-h-mobile: 47px;
$cta-btn-p-horizontal: 25px;
$cta-btn-tt: none;
$cta-btn-td-hover: none;
$cta-btn-fw: bold;

/*For Arrow*/
$arrow-right-bgi: url('/images/prod/arrows/arrow-right-medium-white.svg');
$arrow-right-w: 13px;
$arrow-right-h: 8px;
$arrow-right-ml: 9px;
