$color1: #000000;
$color2: #fff;
$color3: #454957;
$color4: #E1DEE9;
$colorGrey1: #D6E0DE;
$colorGrey1a: #a9a9a9;
$colorGrey2: #a9a9a9;
$linksColor: $color1;
$colorGreyLight: #f0f1f4;
$colorGreyBorders: #DADADA;
$headingsFont: 'Apercu', sans-serif;
$textFont: 'Apercu', sans-serif;
$font1: 'Apercu', sans-serif;
$font2: 'Canela Web' , serif;
$font3: 'Saol Display' , serif;
$font4: 'Brown' , sans-serif;

$rootFontSize: 15px;
$rootFontSizeMobile: 15px;
$br-xs: 420px;
$br-sm: 800px;
$br-md: 1050px;
$br-xl: 1600px;
$mobileBreakpoint: $br-sm;



