.close-x {
    background-color: transparent;
    border: none;
    background-image: url(/images/svg/close-x-black.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}